img {
    width: 30%;
    margin: calc(10%/6);
    /* extra 10% margin / 6 for left and right of all 3images */
}

nav {
    text-transform: uppercase;
    width: 30%;
    margin-left: calc(10%/6);
    border-bottom: 2px solid #f1f1f1;
    padding: 1.2em 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;

    /* don't really use percentage for font size, so it doesn't scale too small */
}